/* General Reset */

/* In src/index.css */
@import "~@fontsource/poppins/400.css";  /* Regular weight */
@import "~@fontsource/poppins/700.css";  /* Bold weight */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* In src/index.css */
  font-family: 'Poppins', sans-serif;


}

